/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 60px; /* Set a fixed height for the header */
}

.logo {
  text-decoration: none;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logo-image {
  height: auto;
  max-height: 50px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
}

.dark-bg {
  background-color: black;
  color: white;
}

.light-bg {
  background-color: white;
  color: black; /* Changed to black for light background */
}

.dark-bg .menu a {
  color: #FDF3EF;
}

.light-bg .menu a {
  color: black; /* Changed to black for light background */
}

.header a {
  text-decoration: none;
  padding: 3px 5px;
}

.header a:hover {
  background-color: #555;
  border-radius: 5px;
}

.header .social-icons {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 5px;
  height: 100%;
}

.header .social-icons a {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-bg .social-icons a {
  color: white;
}

.light-bg .social-icons a {
  color: black; /* Changed to black for light background */
}

.light-bg .menu a:hover {
  color: #FDF3EF;
}

.dark-bg .menu a:hover {
  color: #ccc;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu-light {
  color: black; /* Set color for light background */
}

.hamburger-menu-dark {
  color: white; /* Set color for dark background */
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
