.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.logo {
  text-decoration: none;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.logo-image {
  height: auto;
  max-height: 50px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
}

.black-bg {
  background-color: black;
  color: white;
}

.white-bg {
  background-color: white;
  color: #1F2770;
}

.black-bg .menu a {
  color: white;
}

.white-bg .menu a {
  color: black;
}

.header a {
  text-decoration: none;
  padding: 3px 5px;
}

.header a:hover {
  background-color: #555;
  border-radius: 5px;
}

.header .social-icons {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 5px;
  height: 100%;
}

.header .social-icons a {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-bg .social-icons a {
  color: white;
}

.white-bg .social-icons a {
  color: #1F2770;
}

.white-bg .menu a:hover {
  color: #555;
}

.black-bg .menu a:hover {
  color: #ccc;
}
