.about {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.about img {
  max-width: 50%; /* Adjust as necessary */
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.text-content {
  flex: 1;
}

.text-content h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.text-content blockquote {
  font-style: italic;
  border-left: 5px solid #ccc;
  margin: 20px 0;
  padding-left: 15px;
}

.text-content blockquote p {
  margin: 0;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about img {
    max-width: 100%;
  }

  .text-content {
    width: 100%;
  }
}
