body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #007bff;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.home .home-content {
  max-width: none; /* Ensure the content takes full width for the home page */
  margin: 0;
  padding: 0;
}
